/*
    style.css
    missmp_army_ranking
    Frontend assignment
    by Peter Stadler
    05.07.2023, 22:45 Uhr
*/

body {
    background-color: white;
}

h1 {
    background-color: coral;
}

div {
    background-color: blue;


}


div#army-form-comp {
    background-color: rgb(240, 240, 229);
    display: block;
    padding: 12px;
    width: fit-content;

    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(119, 226, 208);

    border-radius: 0.375rem;
    box-shadow:  0px 15px 15px -10px grey; 

}